<html lang="en">
    <head>
        <title>Admin</title>
        <link rel="stylesheet" href="common.css">
    </head>
    <body>
        <h1>This is the admin environment</h1>
        <p>
            You can start configuring and expanding this application in {{ project_dir }}.
        </p>
    </body>
    <footer>
        <script src="common.js"></script>
    </footer>
</html>
